@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.on-background');
    font-family: theme('fontFamily.body-lg');
  }
}
